<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891403633800-vt6tcgq2e0iq9kl005b7bv2umd85m2rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891403633800-vt6tcgq2e0iq9kl005b7bv2umd85m2rs</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>891403633800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boshhack.missionHunter</string>
	<key>PROJECT_ID</key>
	<string>flutterhack20</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterhack20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891403633800:ios:9aea8fc78d79f2c67c8b3d</string>
	<key>DATABASE_URL</key>
	<string>https://flutterhack20.firebaseio.com</string>
</dict>
</plist>
